{% extends "base.html" %}

{% block title %}Ota HaSpDe käyttöön!{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/index.js')}}"></script>

<div class="form-container bg-white shadow-lg rounded-lg p-6 max-w-md mx-auto mt-10">
    <h2 class="text-3xl font-bold text-teal-600 mb-4">Ota HaSpDe käyttöön!</h2>
    <p class="mb-4 text-gray-700">HaSpDe on tekoälyyn pohjautuva automaattinen vihapuheen suodatin, joka auttaa suojaamaan sinua verkossa.</p>
    
    <ul class="list-disc ml-6 mb-4 text-gray-800">
        <li class="mb-2">🚫 Poistaa ja suodattaa kirosanoja</li>
        <li class="mb-2">⚠️ Estää vihapuhetta ja uhkauksia</li>
        <li class="mb-2">👥 Käyttää ihmisen tarkistusta tarpeen mukaan</li>
    </ul>

    <p class="mb-4 text-gray-700">HaSpDe on suunniteltu kaikille, erityisesti sosiaalisen median käyttäjille, jotka ovat vähemmistössä ja kokevat paljon vihapuhetta.</p>

    <div class="flex flex-col space-y-2">
        <button id="fbLoginBtn" class="btn bg-teal-600 text-white rounded-lg px-4 py-2 hover:bg-teal-500 transition">Kirjaudu sisään Facebookilla</button>
        
        <button class="btn bg-teal-400 text-white rounded-lg px-4 py-2 cursor-not-allowed opacity-50" disabled>
            Kirjaudu sisään Instagramilla (Tulossa pian!)
        </button>
    </div>
</div>

{% endblock %}
